!!!
html
  include inc/header
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/').brand CBB Recibos
          div.nav-collapse.collapse
            ul.nav
              li
                a(href="/invoices") Inicio
            ul.pull-right.nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href="#") #{username} <span class="caret"></span>
                ul.dropdown-menu
                  li
                    a(href="/user/preferences") Preferencias
                  li
                    a(href="/clients") Clientes
                  li
                    a(href="/logout") Salir
    div.container
      block content
      include inc/footer

    include inc/scripts
